# ================================================================
# 로컬 개발용 프로퍼티스
# 1. 이 파일의 이름을 "application-local.properties"로 복사하세요.
# 2. 자신의 로컬 DB 환경에 맞게 수정 가능합니다.
# 3. 이 파일은 .gitignore되어 커밋되지 않습니다.
# ================================================================

# Local DB (Docker)
spring.datasource.url=jdbc:mysql://127.0.0.1:3306/fantry?serverTimezone=Asia/Seoul
spring.datasource.username=YOUR_LOCAL_USERNAME
spring.datasource.password=YOUR_LOCAL_PASSWORD

# SERVER 포트
server.port=8080

# Logging level
logging.level.com.eneifour.fantry=debug
logging.level.org.hibernate.type.descriptor.sql=trace

# JPA
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# CORS address (기본 포트)
cors.allowed-origins=http://localhost:3000,http://localhost:5173

## Redis
#spring.data.redis.host=localhost
#spring.data.redis.port=6379
# spring.data.redis.password=

# 이메일 전송 (자신의 계정으로 테스트하기)
#spring.mail.username= 자신의 구글 이메일
#spring.mail.password= 구글 앱 비밀번호

# File Upload (파일이 저장될 디렉토리 경로와, url 접근 주소)
file.upload-dir=C:/fantry_uploads
file.base-url=http://localhost:8080/static/

#Bootpay
config.bootpay.appid=<부트페이 앱 아이디>
config.bootpay.secretKey=<부트페이 시크릿 키>