# ============================
# 로컬-데브 (서버 DB접속)용 프로퍼티스
# ============================

# Dev(Test) DB (SSH 터널 사용)
# SSH 터널의 로컬 끝 지점(내 PC의 3307 포트)을 바라보도록 수정
spring.datasource.url=jdbc:mysql://127.0.0.1:3307/fantry_dev?serverTimezone=Asia/Seoul&useUnicode=true&characterEncoding=utf8
spring.datasource.username=inc_dev
spring.datasource.password= # 여기에 테스트 db 비밀번호 입력

# Redis
spring.data.redis.password= # 여기에 테스트 redis 비밀번호 입력
spring.data.redis.database=1

# Port
server.port=8080

# logging level
logging.level.root=info

# JPA
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# CORS Address
cors.allowed-origins=http://localhost:3000,http://localhost:5173,http://dev.fantry.duckdns.org