# ============================
# ??-?? (?? DB??)? ?????
# ============================

# Dev(Test) DB (SSH ?? ??)
# SSH ??? ?? ? ??(? PC? 3307 ??)? ????? ??
spring.datasource.url=jdbc:mysql://127.0.0.1:3307/fantry_dev?serverTimezone=Asia/Seoul&useUnicode=true&characterEncoding=utf8
spring.datasource.username=inc_dev
spring.datasource.password= # ??? ??? db ???? ??

# Redis
spring.data.redis.password= # ??? ??? redis ???? ??
spring.data.redis.database=1

# Port
server.port=8080

# logging level
logging.level.root=info

# JPA
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# CORS Address
cors.allowed-origins=http://localhost:3000,http://localhost:5173,http://dev.fantry.duckdns.org